@charset "UTF-8";
@import "https://fonts.googleapis.com/css2?family=Roboto:wght@100&family=Sarpanch&display=swap";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: "Sarpanch", roboto; }

/*Header*/
.header {
  position: sticky;
  top: 0%;
  z-index: 3;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #ffc857; }
  .header .container-fluid {
    background-color: #ffc857;
    height: 100px; }
  .header .navbar-light .navbar-nav .nav-link {
    color: white;
    font-weight: bold;
    text-decoration: none;
    text-align: center; }
  .header .logo {
    width: 150px;
    padding: 20px; }

/*Fin Header*/
/*Index*/
.principal {
  height: 150vh;
  background-image: linear-gradient(rgba(16, 16, 16, 0.8), rgba(16, 16, 16, 0.9)), url(../img/galería/g11.jpg);
  background-size: cover;
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  position: relative;
  z-index: 1;
  padding-top: 5px; }
  .principal .contenido {
    grid-column: 1 / 1;
    grid-row: 1 / 3;
    color: #fff;
    z-index: 1;
    height: 300px;
    width: 400px;
    padding-left: 20px; }
    .principal .contenido p {
      font-family: "Sarpanch", sans-serif;
      color: black;
      font-size: 20px; }
  .principal .play {
    grid-column: 3/3;
    grid-row: 2/2;
    padding-right: 20px; }

.main-title {
  display: flex;
  justify-content: center;
  background-image: linear-gradient(rgba(16, 16, 16, 0.8), rgba(16, 16, 16, 0.9)), url(../img/borde.PNG);
  background-position: center;
  background-repeat: no-repeat; }
  .main-title h3 {
    font-family: "Sarpanch", sans-serif;
    font-size: 30px;
    text-align: center;
    text-decoration: underline #ffc857;
    color: white; }

.row {
  background-color: #177e89;
  display: flex;
  position: relative; }
  .row img {
    width: 800px;
    height: 500px; }
  .row h2 {
    color: black;
    font-size: 30px;
    text-align: center;
    text-decoration: underline; }
  .row h3 {
    color: black;
    font-size: 20px;
    padding: 20px; }

/*Pág Calendario*/
.GrillaShows {
  background-color: #177e89;
  position: relative;
  padding-bottom: 30px;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column; }
  .GrillaShows h1 {
    color: black;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    text-decoration: underline;
    text-decoration-color: #084c61; }
  .GrillaShows ul {
    list-style: none; }
  .GrillaShows h2 {
    color: white;
    text-align: center;
    text-decoration: underline;
    text-decoration-color: #db3a34; }

/*Pág Noticias*/
.Notices {
  background-color: #177e89;
  height: 250 vh;
  position: relative;
  max-width: 100%;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  padding-bottom: 50px;
  padding-top: 30px; }

h2 {
  text-align: center;
  text-decoration: underline #ffc857; }

.card {
  margin-bottom: 10px;
  --bs-card-bg:#ffc857;
  --bs-card-border-width: 2px; }

.pagnotis {
  background-color: #177e89; }
  .pagnotis #imgTitle .img-fluid {
    padding-top: 20px;
    border-radius: 10px;
    width: 600px; }
  .pagnotis .row {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    margin-left: 15px;
    margin-right: 15px; }
    .pagnotis .row p {
      font-size: 20px;
      padding: 10px; }
  .pagnotis .video-container {
    display: flex;
    justify-content: center; }
    .pagnotis .video-container iframe {
      padding: 20px; }
  .pagnotis ul {
    list-style: none; }
  .pagnotis li {
    font-size: 1.25rem; }

/*Pág Multimedia*/
.Multimedia {
  background-color: #177e89;
  position: relative; }
  .Multimedia h2 {
    text-align: center;
    text-decoration: underline;
    font-size: 40px; }
  .Multimedia h3 {
    text-align: center;
    font-size: 20px;
    padding: 20px; }

#Galería {
  display: grid;
  flex-flow: row wrap;
  position: relative; }
  #Galería h2 {
    text-align: center;
    text-decoration: underline;
    font-size: 40px; }
  #Galería #videos {
    flex-direction: row;
    margin-left: 30%;
    padding-top: 5px; }

#Imagenes {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-bottom: 5px; }
  #Imagenes img {
    width: 600px;
    height: 300px;
    padding-bottom: 10px; }

.animate__animated.animate__bounce {
  animation-duration: 1s;
  animation-play-state: running; }

#discos p {
  font-size: 20px;
  padding: 10px 40px;
  margin-bottom: 1px; }

#discos h3 {
  display: flex;
  flex-flow: column;
  justify-items: center;
  font-weight: bold;
  color: black; }

#discos li {
  list-style: none; }

/*Pág Contactos*/
.contactos {
  position: relative;
  background-image: url(../img/1489178.jpg);
  background-repeat: no-repeat;
  background-size: cover; }
  .contactos h2 {
    text-align: center;
    text-decoration: underline;
    text-decoration-color: #ffc857;
    color: white;
    font-size: 50px; }

.redes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 40px; }
  .redes h3 {
    text-align: center;
    text-decoration: underline;
    text-decoration-color: #db3a34;
    color: #084c61;
    font-weight: bold;
    font-size: 40px; }
  .redes ul {
    display: inline-block;
    align-self: center; }
  .redes a {
    padding: 5px; }

#section {
  background-image: url(../img/banner.png);
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  padding: 1rem 2rem;
  margin-bottom: 20px;
  color: black;
  font-weight: bold; }
  #section .fieldset {
    padding: 0.35em 0.75em 0.625em;
    display: block;
    margin-inline-start: 2px;
    margin-inline-end: 2px;
    padding-block-start: 0.35em;
    padding-inline-start: 0.75em;
    padding-inline-end: 0.75em;
    padding-block-end: 0.625em;
    min-inline-size: min-content; }
  #section .form__legend {
    width: 100%;
    padding: 0;
    margin-bottom: 0.5rem;
    font-weight: bold;
    color: black;
    font-size: 2.3rem;
    line-height: inherit; }
  #section .input__label {
    display: block;
    font-weight: bold;
    color: black;
    font-size: 2rem;
    margin-bottom: 0.5rem; }
  #section .buttons {
    padding-top: 5px; }

/*Footer*/
.Footer {
  background-color: #084c61;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px; }

.refe {
  width: 100%; }
  .refe a {
    text-align: center;
    text-decoration: none;
    color: black; }
  .refe li {
    text-align: center;
    list-style: none;
    padding: 20px; }

/*Fin Footer*/
/*MediaQ*/
.navbar-nav {
  background-color: #ffc857;
  padding-left: 25px;
  padding-right: 0px;
  width: 150px;
  float: right;
  --bs-nav-link-hover-color: $background-color_2; }

.navbar-toggler {
  color: #177e89; }

.navbar-item li a {
  color: black;
  font-size: 30px; }
  .navbar-item li a:hover {
    color: red; }

.container-fluid {
  --bs-gutter-x: 1 rem; }

.bg-light {
  --bs-bg-opacity: 0.25; }

@media screen and (max-width: 1023px) and (min-width: 768px) {
  /*Index*/
  .Historia img {
    width: 700px; }
  /*Calendario*/
  .GrillaShows img {
    width: 700px;
    height: auto; }
  .GrillaShows h2 {
    font-size: 1.25rem; } }

@media screen and (max-width: 767px) {
  /*Index*/
  .principal {
    height: 190vh;
    background-position: center; }
    .principal .play {
      padding: 20px;
      grid-column: 1/1;
      grid-row: 3/3; }
  .Historia img {
    width: 375px;
    height: auto; }
  .pagnotis #imgTitle .img-fluid {
    width: 400px; }
  /*Calendario*/
  .GrillaShows img {
    width: 400px;
    height: auto; }
  .GrillaShows h2 {
    font-size: 1.25rem; }
  /*Multimedia*/
  #Imagenes img {
    padding-right: 5px;
    padding-left: 5px; } }
