@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&family=Sarpanch&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Sarpanch", roboto;
}
.header{
    position: sticky;
    top: 0%;
    z-index: 1;
}
.navbar {
    background-color: #ffc857;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    align-items: center;
}

.navbar .logo {
    height: 100px;
    width: 100px;
    grid-column: 2 / 3;
}

.navbar .menu {
    grid-column: 5/8;
    display: flex;
    justify-content:space-around;
}

.navbar ul li {
    margin-right: 2em;
    list-style: none;
}

.navbar a {
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.navbar a:hover {
    color: #fff;
}

.principal {
    height: 135vh;
    background-image: linear-gradient(rgba(16, 16, 16, .8), rgba(16, 16, 16, .9)), url(../img/galería/g11.jpg);
    background-size: cover;
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(10, 1fr);
    position: relative;
    z-index: -1;
}

.principal .contenido {
    grid-column: 1 / 10;
    grid-row: 1 / 10;
    color: #fff;
    z-index: 1;
}

.principal h3 {
    font-family: 'Sarpanch', sans-serif;
    font-size: 30px;
    text-align: center;
    text-decoration: underline #ffc857;
}

.principal .contenido .n1 {
    height: 300px;
    width: 400px;
}

.principal .contenido .n2 {
    height: 300px;
    width: 400px;
}

.principal .contenido .n3 {
    height: 300px;
    width: 400px;
}

.principal .play {
    grid-column: 4 / 4;
    grid-row: 4/5;
}

.principal .contenido p {
    font-family: 'Sarpanch', sans-serif;
    font-size: 20px;
    width: 500px;
}

.principal .contenido .btn {
    font-size: 1em;
    color: #fff;
    background: none;
    padding: 10px 20px;
    border-radius: 30px;
    border: 1px solid#EDCB54;
    margin-top: 10px;
}

.btn:hover {
    background-color: #EDCB54;
    color: #181818;
}

/*Historia*/

.Historia {
    background-color: #177e89;
    display: flex;
    position: relative;
}

.Historia h2 {
    color: black;
    font-size: 30px;
    text-decoration: underline;
    text-align: center;
}

.Historia img {
    width: 800;
    height: 500;
    padding-left: 25%;
}

.Historia h3 {
    color: black;
    font-size: 20px;
    padding: 20px;
}

/*Cierre Sección Historia*/
/*<================================>*/
/*Pág Calendario*/
.Calendario {
    background-color: #177e89;
    position: relative;
}
.GrillaShows{
    padding-bottom: 30px;
}
.GrillaShows h1 {
    color: black;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    text-decoration: underline #084c61;
}
.GrillaShows img {
    display: flex;
    float: right;
    padding-right: 450px;
    padding-top: 30px;
    padding-bottom: 30px;
}
.GrillaShows h2{
    padding-left: 530px;
    color:white;
    text-decoration: underline;
    text-decoration-color: #db3a34;
}
/*Cierre Pág Calendario*/
/*<================================>*/
/*Pág Noticias*/
.Notices {
    background-color: #177e89;
    position:relative;
    height: 250 vh;
    max-width: 100%;
    display: flex;
    flex-flow: column wrap;
    padding-left: 10%;
    padding-bottom: 50px;
    padding-top: 30px;

}

.Noticias h2{
    text-align: center;
    font-size: 30px;
    text-decoration: underline #EDCB54;
}

.Notices p{
    color: aliceblue;
    font-size: 20px;
    flex-wrap: wrap;
    box-sizing: content-box;
    width: 1000px;
    height: 80px;
    box-shadow: 0 0 5px 1px lightgrey;
    margin-bottom: 20px;
}

/*Cierre Pág Noticias*/
/*<================================>*/
/*<================================>*/
/*Pág Multimedia*/
.Multimedia {
    background-color: #177e89;
    position: relative;
}
.Galería {
    display: grid;
    flex-flow: row wrap;
    position: relative;

}
.Galería h2{
    text-align: center;
    font-size: 40px;
    text-decoration: underline;
}
.Galería iframe{
    flex-direction:row;
    margin-left: 33%;
}
.Galería .Imagenes img{
    width: 400px;
    height: 300px;
    margin: 2.5%;
    margin-left: 18%;
}
.Multimedia h2{
    text-align: center;
    font-size: 40px;
    text-decoration: underline;
}
.Multimedia h3{
    text-align: center;
    font-size: 20px;
    padding: 20px;
}
.discos iframe {
   margin-left: 25%;
}
.discos h3 {
    padding: 5%;
}
/*Cierre Pág Multimedia*/
/*<================================>*/
/*Pág Contactos y Formulario*/
.Contactos{
    position: relative;
    background-image: url(../img/1489178.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.Contactos h2{
    text-align: center;
    text-decoration: underline;
    text-decoration-color: #ffc857;
    color: white;
    font-size: 30px;
}
.redes{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 40px;
}
.redes h3{
    text-align: center;
    text-decoration: underline;
    text-decoration-color: #db3a34;
    color: #084c61;
    font-weight: bold;
    font-size: 40px;
}
.redes ul{
    display: inline-block;
    align-self: center;
}
.redes a{
    padding: 5px;
}
/*.nf a{
    padding-left: 210px;
}*/
.frmingreso {
    padding-right: 80px;
    border: 2px solid ;
    display: inline-block;
    width: 600px;
    padding: 10px;
    margin-left: 650px;
    margin-bottom: 120px;
    background-image: url(../img/banner.png);
    font-size: 16px;
}
.frmingreso input {
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #084c61;
    border-radius: 4px;
    box-sizing: border-box; 
}
.frmingreso h3{
    font-size: 20px;
    color: black;
    font-weight: bold;
}
.frmingreso label{
    font-size: 18px;
    color: black;
    font-weight: bold;

}
.btnenviar {
    background-color: white; 
    color: black; 
    border: 2px solid #084c61;
}

.btnenviar:hover {
    background-color: #59BDF2;
    color: white;
}
/*Cierre Pág Contactos*/
/*<================================>*/

/*Inicio Footer*/
.Footer {
    background-color: #084c61;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    position: relative;
}

.Footer .refe {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    display: flex;
    justify-content: space-around;
}

.refe a {
    text-decoration: none;
    color: black;
}
/*Cierre Footer*/

/*********************************/
/***********************************/
/*Responsive*/
/*Generic Laptop 1280x950px*/
@media screen and (max-width:1280px) and (min-width:950px) {
    .principal .contenido {
        grid-column: 1 / 1;
        grid-row: 1 / 10;
        color: #fff;
        z-index: 1;

    }

    .Historia img {
        padding-left: 15%;
    }
    .GrillaShows img{
        padding-right: 125px;
    }
    .GrillaShows h2{
        padding-left: 250px;
    }
}
/*Ipad 768x1024px*/
@media screen and (min-width:599px) and (max-width:1024px) {
    
    .Historia img {
        width: 600px;
        height: 300px;
        padding-left:17.5%;

    }

    .Historia h3 {
        padding: 5px;
    }
    .GrillaShows img{
        width: 700px;
        height: 500px;
        padding-right: 75px;
    }
    .GrillaShows h2{
        padding-left: 50px;
    }

}
