@import "variables";
@import "mixin";
/*Pág Calendario*/ 
.grillaShows {
	background-color: $background-color_2;
	position: relative;
	padding-bottom: 30px;
	display: flex;
	justify-content: space-evenly;
	flex-direction: column;
	h1 {
		color: $color_4;
		font-size: 50px;
		font-weight: bold;
		@include text;
        text-decoration-color:#084c61;
	}
	ul {
		list-style: none;
	}
	h2 {
		color: $color_1;
		@include text;
		text-decoration-color: #db3a34;
	}
}
/*Fin Calendario*/