@import "variables";
/*Footer*/ 
.Footer {
	background-color: $background-color_5;
	display: flex;
	@include center;
	height: 100px;
}
.refe {
	width: 100%;
	a {
		@include text__footer;
	}
	li {
		@include list__style;
		padding: 20px;
	}
}
/*Fin Footer*/ 
