@import "variables";

/*MediasQ*/
/*Navbar burguer work*/
.navbar-nav {
	background-color: $background-color_1;
	padding-left: 25px;
	padding-right: 0px;
	width: 150px;
	float: right;
	--bs-nav-link-hover-color: $background-color_2;
}
.navbar-toggler {
	color: $background-color_2;
}
.navbar-item {
	li {
		a {
			color: $color_4;
			font-size: 30px;

			&:hover {
				color: $color_7;
			}
		}
	}
}
.container-fluid {
	--bs-gutter-x: 1 rem;

}
.bg-light {
	--bs-bg-opacity: 0.25;
}
/*MediqQ Min-width:1024px*/
@media screen and (min-width:1024px) {
	/*Index*/
	.principal {
		height: 170vh;
	}
}
/*MediaQ Max-width:1023px and Min-width:768px*/
@media screen and (max-width: 1023px) and (min-width: 768px) {
	/*Index*/
	.principal {
		height: 170vh;
	}
	.contenido {
		.card {
			margin-bottom: 30px;
		}
	}
	/*Sección historia index*/
	.history {
		img {
			width: 700px;
			padding: 5px;
		}
	}
	/*Calendario*/
	.grillaShows {
		img {
			width: 700px;
			height: auto;
		}
		h2 {
			font-size: 1.25rem;
			;
		}
	}
}
/*MediaQ Max-width:763px and Min-width:480px*/
@media screen and (max-width: 767px) and (min-width:480px) {
	/*Index*/
	.principal {
		height: 200vh;
		background-position: center;
		.contenido {
			width: auto;
			.card {
				height: 300px;
				width: auto;
			}
			p {
				font-size: 17px;
				margin-top: -13px;
				margin-bottom: -2px;
			}
			.btn {
				--bs-btn-padding-x: -0.25rem;
			}
		}
		#play {
			grid-column: 1/1;
			grid-row: 3/3;
			padding-left: 20px;
			padding-bottom: 20px;
			width: 350px;
		}
	}
	/*Sección historia index*/
	.history {
		img {
			width: 480px;
			height: auto;
		}
	}
	/*Noticias Individuales*/
	.pagnotis {
		#imgTitle {
			.img-fluid {
				width: 400px;
			}
		}
	}
	/*Calendario*/
	.grillaShows {
		img {
			width: 400px;
			height: auto;
		}
		h2 {
			font-size: 1.25rem;
			;
		}
	}
	/*Multimedia*/
	#imagenes {
		img {
			padding-right: 5px;
			padding-left: 5px;
		}
	}
}
/*MediaQ Max-width:479px*/
@media screen and (max-width: 479px) {
	/*Index*/
	.principal {
		grid-template-columns: repeat(1, 1fr);
		grid-template-rows: repeat(4, 1fr);
		height: 140vh;
		background-position: center;
		.contenido {
			width: auto;
			.card {
				height: 300px;
				width: auto;
			}
			p {
				font-size: 17px;
				margin-top: -13px;
				margin-bottom: -2px;
			}
			.btn {
				--bs-btn-padding-x: -0.25rem;
			}
		}
		#play {
			display: none;
		}
	}
	/*Sección historia en index*/
	.history {
		img {
			height: auto;
			width: 359px;
		}
	}
	/*Calendario*/
	.grillaShows {
		img {
			width: 360px;
			height: auto;
			padding: 2px;
		}
		h2 {
			font-size: 1.1rem;
			;
		}
	}
	/*Noticias Individuales*/
	.pagnotis {
		#imgTitle {
			.img-fluid {
				padding: 5px;
			}
		}
	}
	/*Multimedia*/
	.galería iframe {
		width: max-content;
	}
	#imagenes {
		img {
			width: max-content;
			padding: 5px;
		}
	}
	/*Contactos*/
	.redes {
		h3 {
			color: white;
		}

		img {
			width: 70px;
			padding: 2px;
		}
	}
	/*Formulario*/
	#section {
		.form__legend {
			font-size: 1.8rem;
		}

		.input__label {
			font-size: 1.8rem;
		}
	}
}
/*Fin MediasQ*/