@import "variables";
/*MediaQ*/ 
@media screen and (max-width: 1280px) and (min-width: 1025px) {
	.principal {
		height: 1350px;
		h3 {
			text-align: center;
			margin-left: 70%;
		}
	}
	.Historia {
		img {
			@extend %img-hist;
			margin-left: 0px;
			margin-right: 0px;
			
		}
		h3 {
			padding: 10px;
		}
	}
	/*Noticias*/ 
	.Notices {
		img {
			padding-left: 5px;
			padding-bottom: 10px;
		}
		p {
			width: 700px;
			height: 100px;
			padding-left: 5px;
		}
	}
	.Noticias {
		h2 {
			padding-right: 15%;
		}
	}
	/*Multimedia*/ 
	.Galería {
		iframe {
			margin-left: 25%;
			padding-top: 5px;
		}
	}
	#Imagenes {
		img {
			max-width: 300px;
			height: 150px;
			display: inline-flex;
			flex-wrap: wrap;
			margin-left: 13%;
		}
	}
	.discos {
		iframe {
			margin-left: 30%;
		}
	}
	/*Calendario*/ 
	.GrillaShows {
		img {
			max-width: 900px;
			height: auto;
			text-align: center;
			padding-right: 25%;
		}
	}
	.GrillaShows {
		h2 {
			font-size: 30px;
			padding-right: 15%;
			padding-left: 20%;
			text-align: center;
		}
	}
	/*Contactos*/
	.frmingreso {
		margin-left: 300px;
		padding-right: 20%;
	}
}

@media screen and (max-width: 1024px) and (min-width: 768px) {
	.navbar-nav {
		background-color: $background-color_1;
		padding-left: 25px;
		width: 150px;
		float: right;
	}
	.navbar-item {
		li {
			a {
				color: $color_4;
				font-size: 30px;
				&:hover {
					color: $color_7;
				}
			}
		}
	}
}
