@import "variables";
@import "mixin";
/*Pág Noticias*/ 
.Notices {
	background-color: $background-color_2;
	height: 250 vh;
	position: relative;
	max-width: 100%;
	display: flex;
	flex-flow: column wrap;
	align-items: center;
	padding-bottom: 50px;
	padding-top: 30px;
}
h2 {
	text-align: center;
    text-decoration: underline #ffc857;
}
.card {
	margin-bottom: 10px;
	--bs-card-bg:#ffc857;
	--bs-card-border-width: 2px;
}